<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Legitimuz</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Lato:wght@400;700&family=Nunito:wght@700&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WXPC5B2M');</script>
      <!-- End Google Tag Manager -->
  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXPC5B2M"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    
    <header>
      
      <nav class="navbar sticky-top py-3">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="https://dashboard.legitimuz.com/_next/static/media/logo.f5504cde.png" alt="Bootstrap" height="30">
          </a>
          <div class="buttons">
            <a class="btn btn-login" href="https://dashboard.legitimuz.com/login/">Login</a>
            <a class="btn btn-signup" href="https://dashboard.legitimuz.com/login/signup">Criar conta</a>
          </div>
        </div>
      </nav>

      <section class="hero d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              
              
              <h1 class="text-center mb-3">Evite fraudes em sua startup com nossa verificação de identidade</h1>

              <p class="lead ">Sabemos que a última coisa que uma startup quer é ter fraudes, principalmente no começo. Pensando nisso, vamos dar 1.000 verificações de identidade para seus clientes</p>

              <form class="py-4" action="/formulario" method="POST">
                
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control mb-3" id="nome" name="nome" placeholder="Nome" required>
                </div>

                <div class="input-group input-group-lg">
                  <input type="email" class="form-control mb-3" id="email" name="email" placeholder="Email" required>
                </div>

                <div class="input-group input-group-lg">
                  <input type="text" minlength="9" maxlength="15" class="form-control mb-3 form" id="telefone" name="telefone" placeholder="Telefone" required>
                </div>

                <input type="hidden" name="gclid" id="gclid">
                
                <div class="d-grid gap-1">
                  <button type="submit" class="btn btn-signup py-2 btn-lg fw-bold">Enviar</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </section>



      <section class="py-5 bg-dark text-white">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="text-center">
                <h3 class="mb-4">Sem fricção para seu cliente</h3>
                <p class="lead mb-4">Verificação feita pelo seu cliente:</p>
              </div>
              <div style="position: relative; padding-bottom: calc(217.78657074340526% + 44px); height: 0;"><iframe src=https://app.supademo.com/embed/PJjO6C8i9OGrfs03FpBb0 frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
            </div>
            <div class="col-lg-8">
              <div class="sticky-top" id="fixado">
                <div class="text-center">
                  <h3 class="mb-4 text-center">Sem fricção para sua equipe</h3>
                  <p class="lead mb-4">Seu acesso à nossa dashboard:</p>
                </div>
                <div style="position: relative; padding-bottom: calc(58.52314814814815% + 44px); height: 0;" id="frameDash"><iframe src=https://app.supademo.com/embed/xvQSDHzM-_kLUBA8TZ_00 frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h3 class="mb-4 fw-bold fst-italic">Com a Legitimuz seus clientes fazem em segundos o que antes levaria horas.</h3>
              <a href="#" class="btn btn-signup py-3 px-4 btn-lg fw-bold">Quero 1.000 verificações grátis</a>
            </div>
          </div>
        </div>
      </section>

      <footer class="py-5 bg-dark text-center text-white">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <img src="/img/logofooter.png" alt="" class="img-fluid w-25 w-sm-50 mb-4">
              <p class="lead mb-0" style="font-size: 1.25rem;"><a href="#">Termos de Uso</a> | <a href="#">Política de privacidade</a></p>
            </div>
          </div>
        </div>
        
      </footer>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script src="/js/script.js"></script>

  </body>
</html>