<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário Recebido</title>
</head>
<body>
  <h1>Dados Recebidos do Formulário</h1>
  <p>Nome: <%= nome %></p>
  <p>Email: <%= email %></p>
  <p>Telefone: <%= telefone %></p>
  <p>Gclid: <%= gclid %></p>
</body>
</html>
