html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  background-color: white;
}

header {
  height: 100dvh;
  position: relative;
}

.hero {
  min-height: calc(100% - 74.28px);
}

.btn-signup {
  color: white;
  background-color: #ff7f66;
}

.btn-signup:hover {
  border: 1px solid #ff7f66;
}

.btn-login {
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 2.2rem;
}

.form-control {
  border: 1px solid #ff7f66;
}

@media (min-width: 768px) {
    .lead {
      font-size: calc(1.275rem + .3vw);
  }
  h1 {
    font-size: 3rem;
  }
}