html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  background-color: white;
}

header {
  height: 100dvh;
  position: relative;
}

.hero {
  min-height: calc(100% - 74.28px);
}

.btn-signup {
  color: white;
  background-color: #ff7f66;
}

.btn-signup:hover {
  color: #ff7f66;
  border: 1px solid #ff7f66;
}

.btn-login {
  color: black;
}

.btn-obrigado {
  color: white;
  background-color: forestgreen;
}

.btn-obrigado:hover {
  color: forestgreen;
  border: 1px solid forestgreen;
}

.hero h1 {
  font-weight: bold;
  font-size: 2.2rem;
}

.hero .lead {
  font-size: 1.3rem;
}

.form-control {
  border: 1px solid #ff7f66;
}

@media (min-width: 1200px) {
    .lead {
      font-size: calc(1.275rem + .3vw);
  }
  h1 {
    font-size: 3rem;
  }
  #frameDash {
    padding-bottom: calc(58.52314814814815% + 37px) !important;
  }
}

.text-legitimuz {
  color: #ff7f66;
}

.sec-2 {
  background-color: #282828;
  color: white; 
}

.bg-dark .btn-signup:hover {
  color: white;
  border: 1px solid white;
}

.obrigado .lead a {
  color: #ff7f66;
  text-decoration: none;
}

.obrigado .lead a:hover {
  color: #ff7f66;
  text-decoration: underline;
}


.lead a {
  color: white;
  text-decoration: none;
}

.lead a:hover {
  color: white;
  text-decoration: underline;
}

