<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/output.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <title>Legitimuz</title>
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXPC5B2M');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXPC5B2M"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

  <header class="flex flex-col min-h-screen pt-5 pb-5 bg-[#333333]">

    <nav class="bg-[#333333] py-4">
      <div class="flex items-center justify-between mx-auto container mx-auto px-4 md:px-8 lg:px-32">
        <a href="#" class="block" rel="ugc">
          <img src="/img/logowhite.svg" alt="Logo" class="h-8" />
        </a>
        <div class="flex items-center space-x-4">
          <a href="#formulario"
            class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-[#ff6f77] hover:bg-[#ff5a65] text-white">
            Começar
          </a>
        </div>
      </div>
    </nav>
    <div class="flex-1 flex items-center justify-center">

      <div class="container mx-auto px-4 md:px-8 lg:px-32 pb-16 lg:pb-0">
        <div class="flex flex-col md:flex-row md:h-auto">
          <div class="flex-1 flex flex-col justify-center space-y-6 text-white lg:pr-20 mt-10 lg:mt-0">
            <h1 class="text-4xl font-bold">Siga a regulamentação brasileira de apostas com nossa verificação de identidade e reconhecimento facial</h1>
            <h2 class="text-2xl text-gray-300">Esportes da Sorte, OnaBet e outros já se prepararam e são nossos clientes</h2>
            <p class="text-gray-200">
              Cadastre seus clientes rápido, deixe-os jogar e depois colete os detalhes verificando sua identidade,
              previnindo fraude de Bônus, CPA e RevenueShare. Mantenha os fraudadores longe!
            </p>
            <ul class="space-y-2 text-gray-200">
              <li class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="text-[#ff6f77] mr-2">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Aumente sua conversão de clientes com LTV
              </li>
              <li class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="text-[#ff6f77] mr-2">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Atenda a conformidade da nova regulamentação de apostas no Brasil
              </li>
              <li class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="text-[#ff6f77] mr-2">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Verifique a identidade no saque ou quando você quiser
              </li>
              <li class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="text-[#ff6f77] mr-2">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Verificação de idade e identidade em tempo real
              </li>
              <li class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="text-[#ff6f77] mr-2">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Elimine contas compradas para efetuar fraudes
              </li>
            </ul>

            <div class="w-full">
              <img src="/img/empresas.png" alt="Descrição da Imagem" class="w-full my-5 lg:my-0">
            </div>

          </div>
          <div class="flex-1" id="formulario">
            <div class="mx-auto bg-white rounded-lg shadow-lg p-6">
              <h2 class="text-2xl font-semibold text-gray-900 mb-6">Converse com um Especialista</h2>
              <p class="text-gray-600 mb-6">
                Deixe a Legitimuz te mostrar como é fácil integrar nossa soluções de verificação de identidade e prova de idade na jornada de compra do seu cliente, de forma que não afete sua experiência e prejudique os seus lucros como dono do site.
              </p>

              <form class="space-y-4" action="/enviar-dados" method="POST">
                <div class="flex space-x-4">
                  <input
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1"
                    placeholder="Nome *" type="text" name="nome" required />
                  <input
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1"
                    placeholder="Sobrenome *" type="text" name="sobrenome" required />
                </div>
                <div class="flex space-x-4">
                  <input
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1"
                    placeholder="Email *" type="email" name="email" required />
                  <input
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1"
                    placeholder="Saques Mensais *" type="number" name="saquesMensais" required />
                </div>
                <div class="flex space-x-4">
                  <input
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1"
                    placeholder="Nome do Site *" type="text" name="nomeDoSite" required />
                  <input
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1"
                    placeholder="Telefone *" type="tel" name="telefone" required />
                </div>
                <select
                  name="cenario"
                  class="flex h-10 items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full"
                  required>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 opacity-50" aria-hidden="true">
                    <path d="m6 9 6 6 6-6"></path>
                  </svg>
                  <option value="" disabled selected>Qual CENÁRIO mais se adequa ao seu caso?</option>
                  <option value="Preciso de KYC e faço manualmente">Preciso de KYC e faço manualmente</option>
                  <option value="Preciso de KYC e não faço (nem mesmo manual)">Preciso de KYC e não faço (nem mesmo manual)</option>
                  <option value="Não preciso de KYC">Não preciso de KYC</option>
                </select>
                
                
                
                
                <textarea
                  class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                  placeholder="Mensagem" name="mensagem" required></textarea>
                <button
                  class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 bg-[#ff7f66] text-white w-full">
                  Enviar
                </button>
                <div class="mt-2">
                  <label class="inline-flex items-center text-xs text-gray-500">
                    <input type="checkbox" class="form-checkbox" name="concordo" required>
                    <span class="ml-2">Ao enviar este formulário, você concorda com a Política de Privacidade do nosso
                      site.</span>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
  
  <section class="bg-white py-16">
    <div class="container mx-auto px-4 md:px-8 lg:px-16">
      <div class="flex flex-wrap items-center justify-between">
        <div class="w-full lg:w-1/4 mb-8 lg:mb-0 text-center">
          <h2 class="text-6xl font-bold">6s</h2>
          <p class="mt-2 text-lg">Verificação instantânea</p>
        </div>
        <div class="w-full lg:w-1/4 mb-8 lg:mb-0 text-center">
          <h2 class="text-6xl font-bold">95%</h2>
          <p class="mt-2 text-lg">Verificados na primeira tentativa</p>
        </div>
        <div class="w-full lg:w-1/4 mb-8 lg:mb-0 text-center">
          <h2 class="text-6xl font-bold">100%</h2>
          <p class="mt-2 text-lg">Documentos Brasileiros Reconhecidos</p>
        </div>
        <div class="w-full lg:w-1/4 mb-8 lg:mb-0 text-center">
          <h2 class="text-6xl font-bold">220</h2>
          <p class="mt-2 text-lg">Milhões de CPFs</p>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-16">

        <div class="w-full lg:w-1/2">
          <div class="relative" style="padding-top: 56.25%;">
            <div class="absolute top-0 left-0 w-full h-full border-2 border-[#ff7f66] rounded-lg overflow-hidden">
              <div id="player" style="width: 100%; height: 100%;"></div>
            </div>
          </div>
        </div>


        <div class="w-full lg:w-1/2 pl-0 lg:pl-16">
          <h3 class="text-2xl font-bold mt-8 lg:mt-0">Veja Como Funciona</h3>
          <p class="mt-4 text-lg">
            Solução líder de mercado em verificação de identidade para ajudar bets a verificar a idade dos jogadores,
            detectar fraudadores, combater a clonagem de CPFs de terceiros e lavagem de dinheiro.
          </p>
          <button class="inline-block mt-6 text-lg text-blue-600 hover:text-blue-800" onclick="playVideo()">
            Veja o Vídeo Explicativo de 2 Minutos
          </button>
        </div>
      </div>
    </div>
  </section>


  <section class="bg-[#333333] text-white py-16 ">
    <div class="container mx-auto px-4 md:px-8 lg:px-32">

      <div class="grid grid-cols-4 gap-10 items-start">

        <div class="col-span-1 mb-8 lg:mb-0 hidden lg:block">
          <div style="position: relative; padding-bottom: calc(217.78657074340526% + 88px); height: 0;">
            <iframe src=https://app.supademo.com/embed/PJjO6C8i9OGrfs03FpBb0 frameborder="0"
              webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen
              style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            </iframe>
          </div>
        </div>

        <div class="lg:col-span-3 lg:mb-0 col-span-4">
          <h2 class="text-4xl font-bold mb-10">Como a Legitimuz funciona?</h2>
          <p class="mb-6">
            Na maioria dos sites de apostas de hoje, é feito apenas uma consulta de CPF (e é muito fácil encontrar
            qualquer CPF na internet) e solicitam que o PIX Depósito/Saque seja de uma conta bancária com o mesmo CPF
            - isso não é um problema para fraudadores, porque existem fintechs que não verificam a identidade para que
            uma conta seja aberta em um CPF.
          </p>
          <p class="mb-6">
            Isso é um problema porque pode causar fraudes como Abuso de CPA, Abuso de Bônus e Revenue Share infinito -
            além de que é uma porta aberta para a lavagem de dinheiro.
          </p>
          <p class="mb-6">
            A Legitimuz resolve esse problema inserindo uma verificação de identidade no primeiro, segundo ou terceiro
            saque ou em saques acima de X valor - somos 100% personalizáveis!
          </p>
          <p class="mb-6">
            Isso faz com que você não afete a experiência do usuário, não perca jogadores e ainda sim, tenha segurança
            contra fraudadores.
          </p>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
            <div class="bg-white text-black p-4 rounded-lg">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="h-6 w-6 text-green-500 mb-2">
                <path d="M14.5 4h-5L7 7H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3l-2.5-3z">
                </path>
                <circle cx="12" cy="13" r="3"></circle>
              </svg>
              <p class="font-semibold mb-2">Solicitamos uma foto frente e verso do documento do seu jogador. Aceitamos
                todos os documentos válidos como identidade do Brasil.</p>
            </div>
            <div class="bg-white text-black p-4 rounded-lg">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="h-6 w-6 text-green-500 mb-2">
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                <line x1="9" x2="9.01" y1="9" y2="9"></line>
                <line x1="15" x2="15.01" y1="9" y2="9"></line>
              </svg>
              <p class="font-semibold mb-2">
                O usuário passa por um processo de prova de vida e depois tira uma simples selfie para provar que é a
                mesma pessoa do documento
              </p>
            </div>
            <div class="bg-white text-black p-4 rounded-lg">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="h-6 w-6 text-green-500 mb-2">
                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                <polyline points="22 4 12 14.01 9 11.01"></polyline>
              </svg>
              <p class="font-semibold mb-2">A Legitimuz verifica se há fraude através de uma prova de vida passiva e
                verificamos se o rosto representa uma pessoa na maior idade</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="bg-white text-black py-16">
    <div class="container mx-auto px-4 md:px-8 lg:px-32">
      <h2 class="text-4xl font-bold mb-10 text-center">Porque usar a Legitimuz?</h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-start">
        <div class="mb-8 lg:mb-0 border-2 border-[#ff7f66] rounded-lg lg:mr-10">
          <img alt="Mobile gif" class="w-full h-auto" height="360" src="/img/artigo.png" />
        </div>
        <div>
          <p class="mb-6">
            Primeiro, porque de acordo com a
            <a class="text-blue-500 underline"
              href="https://www.planalto.gov.br/ccivil_03/_ato2023-2026/2023/lei/L14790.htm#:~:text=Art.%2023.%20O%20agente%20operador%20de%20apostas%20dever%C3%A1%20adotar%20procedimentos%20de%20identifica%C3%A7%C3%A3o%20que%20permitam%20verificar%20a%20validade%20da%20identidade%20dos%20apostadores%2C%20exigida%20a%20utiliza%C3%A7%C3%A3o%20da%20tecnologia%20de%20identifica%C3%A7%C3%A3o%20e%20reconhecimento%20facial.">
              lei Nº 14.790 no artigo 23 (site oficial do governo)
            </a>
            , é obrigatório.
          </p>
          <p class="mb-6">
            Segundo, é lucrativo, eis o motivo: na maioria dos sites de apostas de hoje, é feito apenas uma consulta
            de CPF (e é muito fácil encontrar qualquer CPF na internet) e solicitam que o PIX depósito/saque seja de
            uma conta bancária com o mesmo CPF - isso não é um problema para fraudadores, porque existem fintechs que
            não verificam a identidade para que uma conta seja aberta em um CPF.
          </p>
          <p class="mb-6">
            Isso é um problema porque pode causar fraudes como Abuso de CPA, Abuso de Bônus e Revenue Share infinito -
            além de que é uma porta aberta para a lavagem de dinheiro.
          </p>
          <p class="mb-6">
            A Legitimuz resolve esse problema inserindo uma verificação de identidade no primeiro, segundo ou terceiro
            saque ou em saques acima de X valor - somos 100% personalizáveis!
          </p>
          <p class="mb-6">
            Isso faz com que você não afete a experiência do usuário, não perca jogadores e ainda sim, tenha segurança
            contra fraudadores.
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="w-full py-12 md:py-10 lg:py-16 bg-[#ff6f77]">
    <div class="container mx-auto px-4 md:px-8 lg:px-32 max-w-[1200px]">
      <h2 class="text-4xl font-bold text-white text-center mb-8">Depoimentos</h2>
      <div class="grid gap-6 md:grid-cols-2">
        <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center justify-center">
          <div class="w-full p-4 mb-4">
            <img src="/img/clientes/eds2.svg" alt="Esportes da Sorte Logo" class="h-5 mx-auto" />
          </div>
          <p class="text-gray-600 italic text-center">"Como líder em cassinos online no Brasil, priorizamos a autenticidade e integridade dos usuários. A Legitimuz foi crucial na implementação de processos de verificação de identidade, alinhados às normativas brasileiras e focados no combate a fraudes. Com as soluções da Legitimuz, melhoramos a segurança e mantivemos a conformidade regulatória, assegurando a verificação eficaz dos usuários. Seu suporte ao cliente é excepcional, essencial no nosso esforço contínuo contra qualquer tentantiva mínima de fraude."</p>
          <div class="mt-4">
            <p class="font-bold text-center">Esportes da Sorte</p>
            <p class="text-sm text-gray-500 text-center">Gerente de Risco</p>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center justify-center">
          <div class="w-full p-4 mb-4">
            <img src="/img/clientes/onabet.png" alt="OnaBet Logo" class="h-10 mx-auto" />
          </div>
          <p class="text-gray-600 italic text-center">"Após a parceria com a Legitimuz, superamos desafios de segurança e prevenção de fraudes, melhorando nossa capacidade de detecção e combate a atividades fraudulentas. A implementação das soluções da Legitimuz também nos ajudou a cumprir rigorosamente as regulamentações do setor, elevando a confiança dos clientes. Estamos muito satisfeitos com o profissionalismo e a eficácia da Legitimuz em fortalecer nossas defesas contra fraudes e garantir a conformidade regulatória."</p>
          <div class="mt-4">
            <p class="font-bold text-center">OnaBet</p>
            <p class="text-sm text-gray-500 text-center">CEO</p>
          </div>
        </div>
      </div>
      <div class="lg:w-[700px] mx-auto">
        <p class="font-bold text-white text-center mt-10 mb-6">
          Faça como o Esportes da Sorte e OnaBet e esteja 10 passos a frente de todos outros sites
          de apostas do Brasil
          - se prepare antecipadamente para a regulamentação.
        </p>
        <div class="flex justify-center">
          <a class="bg-white text-[#ff6f77] font-bold py-2 px-4 rounded-full shadow-md" href="#formulario">Agendar
            Reunião Agora</a>
        </div>
      </div>
    </div>
  </section>


  <footer class="bg-[#333333] text-white py-4 px-4 md:px-6">
    <div class="container mx-auto flex flex-col items-center justify-center space-y-4 text-center">
      <img src="/img/logo.png" width="140" height="70" alt="Logo"
        class="aspect-[2/1] overflow-hidden rounded-lg object-contain object-center" />
      <p class="text-sm">© Legitimuz. Todos os direitos reservados.</p>
    </div>
  </footer>


  <script>

    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        videoId: 'vJFCuXa9TDU',
        playerVars: {
          'playsinline': 1,
          'rel': 0
        }
      });
    }

    function playVideo() {
      player.playVideo();
    }

    document.getElementById('formContato').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevenindo o comportamento padrão de envio do formulário

        const formData = new FormData(this);
        const dataToSend = {};
        for (const [key, value] of formData.entries()) {
            dataToSend[key] = value;
        }

        fetch('/enviar-dados', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(dataToSend),
        })
        .then(response => {
            if (response.ok) {
                return response.text();
            }
            throw new Error('Falha no envio do formulário');
        })
        .then(text => {
            alert('Formulário enviado com sucesso!');
        })
        .catch(error => {
            alert('Erro ao enviar formulário');
            console.error('Erro:', error);
        });
    });


  </script>
</body>

</html>